
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index:1;
}


.contact-form {
  position: fixed;
  padding: 50px;
  height: 250px;
  width: 340px;
  margin: auto;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 2;
}

.form-group {
  position: relative;
  margin: 15px;
  width: 70%;

  &__label {
    position: absolute;
    left: 10px;
    top: 10px;

    color: #4d4b4b;
    font-size: 17px;
    opacity: .7;
    -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
    transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  }

  &__label-active {
    top: 2px;
    font-size: 12px;
  }

  &__input {
    height: 40px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}

.global-btn {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 15px;
}

.add-new-contact {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 15px;
  transition: 1s;

  &:hover {
    box-shadow: inset 0 50px 0 0 #000;
    color: #fff;
  }
}


.close-modal-button {
  position: absolute;
  display: flex;
  right: 20px;
  top: 20px;
  border: none;
  background-color: #CD5C5C;
  color: #eee;
  border-radius: 50%;
  padding: 5px;
}


@media screen and (max-width: 441px) {
  .contact-form {
    width: 225px;
    height: 280px;
  }

  .form-group {
    width: 100%;
  }
}