.contact-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #fff;
  min-width: 310px;
  max-width: 600px;
  padding: 20px;

  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.contact-details {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__image-wrap {
    min-width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
  }

  &__contact-info {
    display: flex;
    flex-shrink: 0;
    min-width: 90px;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-around;
  }

  &__buttons-wrap {
    display: flex;
    flex-shrink: 0;

    &__buttons {
      border: none;
      border-radius: 5px;
      margin: 0 5px;
      padding: 0 15px;
    }

    &__edit-contact {
      background-color: lightgreen;
    }
    &__remove-contact {
      background-color: #CD5C5C;
    }
  }
}

.contact-additional-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  overflow: hidden;
  line-height: 18px;
}

.favorite {
  cursor: pointer;
  width: 30px;
}

.favorite-icon {
  width: 100%;
  height: 90%;
}

.favorite-container {
  background-color: gainsboro;
}
.favorite-active {
  fill: orange;
}

@media screen and (max-width: 768px) {

  .contact-details {
    &__buttons-wrap {


      &__buttons {
        font-size: 14px;
      }
    }
  }
}
